@font-face {
  font-family: yofont;
  src: url("/travelSNS/images/iconfont/iconfont.woff") format("woff"),
  url("/travelSNS/images/iconfont/iconfont.ttf") format("truetype");
}

@font-face {
  font-family: yofont;
  src: url("/travelSNS/images/iconfont/iconfont-load.woff") format("woff"),
  url("/travelSNS/images/iconfont/iconfont-load.ttf") format("truetype");
}


